<%= simple_form_for(@job, html: { class: 'form-horizontal center max-width' }) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.association :category,
                      collection: Category.all,
                      priority: @job.category,
                      label: "Job Category",
                      prompt: "Choose a job cateogry" %>
    <%= f.association :industry,
                      collection: Industry.all,
                      priority: @job.industry,
                      label: "Company Industry",
                      prompt: "Choose an industry of the job" %>
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.input :requirement, as: :text %>
    <%= f.input :apply_instruction, as: :text %>
    <%= f.input :start_day, as: :date, start_date: Date.today.year,
                                       end_date: Date.today.year + 5 %>
    <%= f.input :professional_skill, as: :text %>
    <%= f.input :is_published, as: :boolean,
                               checked_value: true,
                               unchecked_value: false %>
    <%= f.button :submit %>
  </div>
<% end %>
