<p id="notice"><%= notice %></p>

<%= link_to 'Create a new job', new_job_path %>

<hr>

<div class="row">
  <div class="col-md-4">
    <ul>
      <% Category.all.each do |category| %>
        <li><%= link_to category.name, "#", class: "select_botton", :'data-id' => category.id, remote: true %></li>
      <% end %>
    </ul>
    <ul>
      <% Industry.all.each do |industry| %>
        <li><%= link_to industry.name, "#", class: "select_botton", remote: true %></li>
      <% end %>
    </ul>
  </div>

  <h1>Listing Jobs</h1>

<%#
  Filterrific adds the `form_for_filterrific` view helper:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    Industry
    <%= f.select(
      :with_industry_id,
      @filterrific.select_options[:with_industry_id],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div>
    Category
    <%= f.select(
      :with_category_id,
      @filterrific.select_options[:with_category_id],
      { include_blank: '- Any -' }
    ) %>
  </div>
<!--   <div>
    Created after
    <%#= f.text_field(:with_created_at_gte, class: 'js-datepicker') %>
  </div> -->
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render( partial: 'jobs/list', locals: { jobs: @filtered_jobs } ) %>

<script>
  $('.select_botton').click(function(){
    $.getJSON("/select_jobs?category=" + $(this).data('id'), function(data){
      $('tr').remove();
      var jsonString = JSON.stringify(data);
      // alert(jsonString)
      // $("<tr/>").appendTo("#job_list").html(data)
      drawTable(jsonString);
      // $.each( data, function( i, item){
      // })
      // if(result != false){
      // }
    })

    function drawTable(data) {
      for (var i = 0; i < data.length; i++){
        drawRow(data[i]);
      }
    }

    function drawRow(rowData) {
      var row = $("<tr />")
      $("#job_list").append(row);

      row.append($("<td>" + rowData + "</td>"));
      row.append($("<td>" + rowData.title + "</td>"));
      row.append($("<td>" + rowData.requirement + "</td>"));
    }

    // $.ajax({
    //   url: "/select_jobs?category=" + $(this).data('id'),
    //   type: "GET",
    //   dataType: "json",
    //   data: {
    //     json: JSON.stringify([
    //     {
    //       id: 1,
    //     }])
    //   }
    // })
  })

  $.ajax({
    url: '/echo/json/',
    type: "post",
    dataType: "json",
    data: {
      json: JSON.stringify([
          {
          id: 1,
          firstName: "Peter",
          lastName: "Jhons"},
      {
          id: 2,
          firstName: "David",
          lastName: "Bowie"}
      ]),
      delay: 3
    },
    success: function(data, textStatus, jqXHR) {
        // since we are using jQuery, you don't need to parse response
        drawTable(data);
    }
  });

  function drawTable(data) {
      for (var i = 0; i < data.length; i++) {
          drawRow(data[i]);
      }
  }

  function drawRow(rowData) {
      var row = $("<tr />")
      $("#personDataTable").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
      row.append($("<td>" + rowData.id + "</td>"));
      row.append($("<td>" + rowData.firstName + "</td>"));
      row.append($("<td>" + rowData.lastName + "</td>"));
  }

</script>
<br>
