<p id="notice"><%= notice %></p>

<%= link_to 'Create a new job', new_job_path %>

<hr>

<div class="job">
  <h2>Listing Jobs</h2>

  <%#
    Filterrific adds the `form_for_filterrific` view helper:
    * adds dom id 'filterrific_filter'
    * applies javascript behaviors:
        * AJAX form submission on change
        * AJAX spinner while AJAX request is being processed
    * sets form_for options like :url, :method and input name prefix
  %>
  <%= form_for_filterrific @filterrific do |f| %>
    <div class="center">
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(:search_query, class: 'filterrific-periodically-observed search-bar') %>
    </div>
    <div class="col-md-4">
      <div class="panel-group max-width" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                  Industry
              </h4>
            </div>
          </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
          <%#= f.select(:with_industry_id, @filterrific.select_options[:with_industry_id], { include_blank: '- Any -' }) %>
            <%= f.collection_check_boxes(:with_industry_id, Industry.all, :id, :name) do |b| %>
              <div class="block">
                <div class="inline">
                  <%= b.check_box %>
                  <%= b.object.name %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="panel-group max-width" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                Category
              </h4>
            </div>
          </a>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <%= f.collection_check_boxes(:with_category_id, Category.all, :id, :name) do |b| %>
              <div class="block">
                <div class="inline">
                  <%= b.check_box %>
                  <%= b.object.name %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="panel-group max-width" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                Contract Type
              </h4>
            </div>
          </a>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <%= f.collection_check_boxes(:with_contract_type_id, ContractType.all, :id, :name) do |b| %>
              <div class="block">
                <div class="inline">
                  <%= b.check_box %>
                  <%= b.object.name %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <!--   <div>
      Created after
      <%#= f.text_field(:with_created_at_gte, class: 'js-datepicker') %>
    </div> -->
    <div>
      Sorted by
      <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
    </div>
    <div>
      <%= link_to('Reset filters', reset_filterrific_url) %>
    </div>
    <%= render_filterrific_spinner %>
  <% end %>

    <div class="col-md-8">
  <%= render( partial: 'jobs/list', locals: { jobs: @filtered_jobs } ) %>
  </div>
</div>

<script>
  $('.select_botton').click(function(){
    $.getJSON("/select_jobs?category=" + $(this).data('id'), function(data){
      $('tr').remove();
      var jsonString = JSON.stringify(data);
      // alert(jsonString)
      // $("<tr/>").appendTo("#job_list").html(data)
      drawTable(jsonString);
      // $.each( data, function( i, item){
      // })
      // if(result != false){
      // }
    })

    function drawTable(data) {
      for (var i = 0; i < data.length; i++){
        drawRow(data[i]);
      }
    }

    function drawRow(rowData) {
      var row = $("<tr />")
      $("#job_list").append(row);

      row.append($("<td>" + rowData + "</td>"));
      row.append($("<td>" + rowData.title + "</td>"));
      row.append($("<td>" + rowData.requirement + "</td>"));
    }

    // $.ajax({
    //   url: "/select_jobs?category=" + $(this).data('id'),
    //   type: "GET",
    //   dataType: "json",
    //   data: {
    //     json: JSON.stringify([
    //     {
    //       id: 1,
    //     }])
    //   }
    // })
  })

  $.ajax({
    url: '/echo/json/',
    type: "post",
    dataType: "json",
    data: {
      json: JSON.stringify([
          {
          id: 1,
          firstName: "Peter",
          lastName: "Jhons"},
      {
          id: 2,
          firstName: "David",
          lastName: "Bowie"}
      ]),
      delay: 3
    },
    success: function(data, textStatus, jqXHR) {
        // since we are using jQuery, you don't need to parse response
        drawTable(data);
    }
  });

  function drawTable(data) {
      for (var i = 0; i < data.length; i++) {
          drawRow(data[i]);
      }
  }

  function drawRow(rowData) {
      var row = $("<tr />")
      $("#personDataTable").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
      row.append($("<td>" + rowData.id + "</td>"));
      row.append($("<td>" + rowData.firstName + "</td>"));
      row.append($("<td>" + rowData.lastName + "</td>"));
  }

</script>
<br>
