<h2><%= @job.title %></h2>
<p><strong>Job Description: </strong><%= @job.description %></p>
<p><strong>Job Requiremnet: </strong><%= @job.requirement %></p>
<p><strong>How to apply? </strong><%= @job.apply_instruction %></p>
<p><strong>What kind of professional skill are we looking for? </strong><%= @job.professional_skill %></p>
<p><strong>Vacanncy Expiration Date: </strong><%= @job.start_day %></p>
<p><strong>Country: </strong><%= @job.country.name %></p>
<% if @job.location.present? %>
  <p><strong>State: </strong><%= @job.location.name %></p>
<% end %>

<%= link_to 'Edit', "/jobs/#{@job.id}/edit?company_id=#{@job.company.id}" %> |
<%= link_to 'Back', company_path(@job.company) if @job.company.present? %>
