<div class="paddingtop30">
  <div style="background: url(<%= @job.company.cover.url == "backg.png" ? asset_path(@job.company.cover.url) : @job.company.cover.url %>) no-repeat 50% 50%; background-size: cover; width: 100%; height: 400px;"></div>

  <h2><%= @job.title.titleize  %></h2>
  <% if (user_signed_in?) && (current_user.id == @job.company.user_id) %>
    <%= link_to 'Edit Job Content', edit_job_path(@job), class: "btn btn-default" %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to "APPLY NOW", "/new_cover_letter?id=#{@job.id}", class: "btn btn-info btn-lg" %>
    <% unless is_employer? %>
      <%= link_to 'Save job to favorites', "#", remote: true, 'data-id': @job.id, class: "btn btn-default like_button #{'hide' if current_user.favorite_jobs.find_by(id: @job.id)}" %>
      <%= link_to 'Unfollow this Job', "#", remote: true, 'data-id': @job.id, class: "btn btn-default unlike_button #{'hide' unless current_user.favorite_jobs.find_by(id: @job.id)}" %>
    <% end %>
  <% end %>
  <h3><strong>Company: </strong><%= link_to @job.company.name, company_path(@job.company) if @job.company.present? %></h3>

  <%#= image_tag @job.company.image.url(:thumb),
              class: "img-rounded text-center",
              size: '100x100' %><br />
  <!-- <br> -->
  <h3>Company Details</h3>
  <p><strong>Company Industry: </strong><%= @job.company.industry.name %></p>
  <p><strong>No. Of Employees: </strong><%= @job.company.employee_range.range %></p>
  <hr>
  <h3>Job Details</h3>
  <p><strong>Job Category: </strong><%= @job.category.name %></p>
  <p><strong>Contract Type: </strong><%= @job.contract_type.name %></p>
  <p><strong>Country: </strong><%= @job.country.name %></p>
  <% if @job.location.present? %>
    <p><strong>State: </strong><%= @job.location.name %></p>
  <% end %>
  <hr>
  <h3>Professional Skill</h3>
  <p><strong>What kind of professional skill are we looking for? </strong><%= @job.professional_skill.html_safe %></p>
  <hr>
  <h3>Language Skill</h3>
  <p><strong>What kind of language skill do we need? </strong><%= @job.language_skills.html_safe %></p>
  <hr>
  <h3>Job Description</h3>
  <p><strong>Job Requiremnet: </strong><%= @job.requirement.html_safe %></p>
  <p><strong>How to apply? </strong><%= @job.apply_instruction.html_safe %></p>
  <p><strong>Vacancy Expiration Date: </strong><%= @job.start_day %></p>
  <p><strong>Monthly Salary: </strong><%= @job.salary_range.range %></p>
  <hr>
  <h3>About The Company</h3>
  <p><%= @job.company.about.html_safe %></p>
  <hr>
  <% if (user_signed_in?) && (current_user.id == @job.company.user_id) %>
    <h3>Preferred Candidate</h3>
    <%= render 'preferred_candidates/form' %>
  <% end %>

  <% if current_user %>
    <% if (@job.company.user.has_role? :employer) && @job.company == current_user.company %>
      <h2>Recruits</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Age</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @job.cover_letters.each do |cover_letter| %>
            <tr>
              <td>
                <% if !cover_letter.is_read %>
                  <span class="badge">New</span>   
                <% end %>
                <%= cover_letter.resume.firstname + " " + cover_letter.resume.lastname %>
              </td>
              <td><%= cover_letter.resume.phone %></td>
              <td><%= calculate_age(cover_letter.resume.birth) %></td>
              <td><%= link_to "VIEW", "/show_cover_letter/#{cover_letter.id}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>

<script>
  $('.like_button').click(function(){
    $.getJSON('/jobs/favorite_job?id=' + $(this).data('id'), function(data){
      if(data){
        alert('You are currently following this job!')
        $('.like_button').addClass('hide')
        $('.unlike_button').removeClass('hide')
      }
      else{
        alert('Failed to add this job to your favorites, sorry!')
      }
    })
  });

  $('.unlike_button').click(function(){
    $.getJSON('/jobs/unfollow_job?id=' + $(this).data('id'), function(data){
      if(data){
        alert('You have successfully unfollowed this job!')
        $('.like_button').removeClass('hide')
        $('.unlike_button').addClass('hide')
      }
      else{
        alert('Failed to unfollow this job, sorry!')
      }
    })
  });
</script>
