<h2><%= @job.title %></h2>
<p>Job Description: <%= @job.description %></p>
<p>Job Requiremnet: <%= @job.requirement %></p>
<p>How to apply? <%= @job.apply_instruction %></p>
<p>What kind of professional skill are we looking for? <%= @job.professional_skill %></p>
<p>Job Starting Date: <%= @job.start_day %></p>
<p>Country: <%= @job.country.name %></p>
<% if @job.location.present? %>
  <p>State: <%= @job.location.name %></p>
<% end %>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %> |
<%= link_to 'Home', root_path %>
