<div class="featuredEmployer">
  <div class="container">
    <div class="row">
      <h2 class="font-Oswald text-center xsFz38 smFz48">Featured Employer</h2>
    </div>

    <div class="col-md-12">
      <div class="carousel slide" data-ride="carousel" data-type="multi" id="myCarousel2">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel2" data-slide-to="1"></li>
          <li data-target="#myCarousel2" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

          <div class="item active">
            <div class="row">
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="thumbnail">
                  <%= image_tag "nia.png" %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
