<p id="notice"><%= notice %></p>

<h1>Listing Preferred Candidates</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Country</th>
      <th>Language</th>
      <th>Contract type</th>
      <th>Job category</th>
      <th>Career level</th>
      <th>Degree level</th>
      <th>Related experience</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preferred_candidates.each do |preferred_candidate| %>
      <tr>
        <td><%= preferred_candidate.location_id %></td>
        <td><%= preferred_candidate.country_id %></td>
        <td><%= preferred_candidate.language_id %></td>
        <td><%= preferred_candidate.contract_type_id %></td>
        <td><%= preferred_candidate.job_category_id %></td>
        <td><%= preferred_candidate.career_level_id %></td>
        <td><%= preferred_candidate.degree_level_id %></td>
        <td><%= preferred_candidate.related_experience_id %></td>
        <td><%= link_to 'Show', preferred_candidate %></td>
        <td><%= link_to 'Edit', edit_preferred_candidate_path(preferred_candidate) %></td>
        <td><%= link_to 'Destroy', preferred_candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preferred candidate', new_preferred_candidate_path %>
