<div class="col-md-4 col-md-offset-4">
  <h2>Edit User</h2>
  <%= form_for @resume, url: "/admin/edit_seeker/#{@resume.id}", html: { multipart: true } do |f| %>
    <div class="form-group">
      <%= f.label :firstname %>
      <%= f.text_field :firstname, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :lastname %>
      <%= f.text_field :lastname, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :birth %>
      <%= f.text_field :birth, class: "js-datepicker filterrific-periodically-observed form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :location_id %>
      <%= f.select :location_id, options_from_collection_for_select(Location.all, 'id', 'name', @resume.location_id), {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :employment_status_id %>
      <%= f.select :employment_status_id, options_from_collection_for_select(EmploymentStatus.all, 'id', 'name', @resume.employment_status_id), {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.file_field :cover %>
      <%= image_tag @resume.cover.url,
        class: "img-rounded text-center",
        size: '230x100' %>
    </div>

    <%= f.submit :Edit, class: "btn btn-success" %>
  <% end %>
</div>

<script>
  $.fn.datepicker.defaults.format = 'yyyy/mm/dd';
  $('.js-datepicker').datepicker();
</script>

