<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @preferred_candidate.location_id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @preferred_candidate.country_id %>
</p>

<p>
  <strong>Language:</strong>
  <%= @preferred_candidate.language_id %>
</p>

<p>
  <strong>Contract type:</strong>
  <%= @preferred_candidate.contract_type_id %>
</p>

<p>
  <strong>Job category:</strong>
  <%= @preferred_candidate.job_category_id %>
</p>

<p>
  <strong>Career level:</strong>
  <%= @preferred_candidate.career_level_id %>
</p>

<p>
  <strong>Degree level:</strong>
  <%= @preferred_candidate.degree_level_id %>
</p>

<p>
  <strong>Related experience:</strong>
  <%= @preferred_candidate.related_experience_id %>
</p>

<%= link_to 'Edit', edit_preferred_candidate_path(@preferred_candidate) %> |
<%= link_to 'Back', preferred_candidates_path %>
