<h2>Published Jobs</h2>
<% if @company.jobs.published.present? && @company.jobs.unexpired.present? %>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Position</th>
          <th>Type</th>
          <th>Salary</th>
          <th>Country</th>
          <th>City</th>
          <th>Vacancy Expiration Date</th>
          <th colspan="2">Application</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @company.jobs.published.unexpired.each do |job| %>      <!-- not expried and published -->
          <tr>
            <td><%= link_to job.title, "/jobs/#{job.id}?company_id=#{@company.id}" %></td>
            <td><%= job.contract_type.name %></td>
            <td><%= job.salary_range.range %></td>
            <td><%= job.country.name %></td>
            <td><%= if job.location.present?; job.location.name else "Not in Myanmar" end %></td>
            <td><%= job.start_day %></td>
            <td><%= link_to "Edit", "/jobs/#{job.id}/edit?company_id=#{@company.id}" %></td>
            <td><%= link_to "Delete", job_path(job), method: :delete %></td>
            <td>
              <%= link_to job_path(job) do %>
                <%= "#{job.cover_letters_count} APPLICATIONS" %>
                <span class="badge"><%= job_unread_cover_letter_count(job) %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
  <h4>Currently there are no published jobs.</h4>
<% end %>

<br>

<h2>Unpublished Jobs</h2>
<% if @company.jobs.unpublished.present? && @company.jobs.unexpired.present? %>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Position</th>
          <th>Type</th>
          <th>Salary</th>
          <th>Country</th>
          <th>City</th>
          <th>Vacancy Expiration Date</th>
          <th colspan="2">Application</th>
        </tr>
      </thead>
      <tbody>
        <% @company.jobs.unpublished.unexpired.each do |job| %>     <!-- not published and not expired -->
          <tr>
            <td><%= link_to job.title, "/jobs/#{job.id}?company_id=#{@company.id}" %></td>
            <td><%= job.contract_type.name %></td>
            <td><%= job.salary_range.range %></td>
            <td><%= job.country.name %></td>
            <td><%= if job.location.present?; job.location.name else "Not in Myanmar" end %></td>
            <td><%= job.start_day %></td>
            <td><%= link_to "Edit", "/jobs/#{job.id}/edit?company_id=#{@company.id}" %></td>
            <td><%= link_to "Delete", job_path(job), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
  <h4>Currently there are no unpublished jobs.</h4>
<% end %>

<br>

<h2>Expired Jobs</h2>
<% if @company.jobs.expired.present? %>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Position</th>
          <th>Type</th>
          <th>Salary</th>
          <th>Country</th>
          <th>City</th>
          <th>Vacancy Expiration Date</th>
          <th colspan="2">Application</th>
        </tr>
      </thead>
      <tbody>
        <% @company.jobs.expired.each do |job| %>     <!-- expired -->
          <tr>
            <td><%= link_to job.title, "/jobs/#{job.id}?company_id=#{@company.id}" %></td>
            <td><%= job.contract_type.name %></td>
            <td><%= job.salary_range.range %></td>
            <td><%= job.country.name %></td>
            <td><%= if job.location.present?; job.location.name else "Not in Myanmar" end %></td>
            <td><%= job.start_day %></td>
            <td><%= link_to "Edit", "/jobs/#{job.id}/edit?company_id=#{@company.id}" %></td>
            <td><%= link_to "Delete", job_path(job), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
  <h4>Currently there are no expired jobs.</h4>
<% end %>

<br>
