<div class=" paddingtop30">
  <div style="background: url(<%= @company.cover.url == "backg.png" ? asset_path(@company.cover.url) : @company.cover.url %>) no-repeat 50% 50%; background-size: cover; width: 100%; height: 400px;"></div>

  <div class="company-profile">
    <div class="company-header">
    <%= image_tag @company.image.url(:thumb),
                class: "img-rounded text-center company-image",
                size: '150x150' %>
    <h2><strong><%= @company.name.titleize %></strong></h2>
    </div>

    <br>
    <br>

    <% if (user_signed_in?) && (current_user.id == @company.user_id) %>
      <%= link_to 'Edit Company Information', edit_company_path(@company), class: "btn btn-default" %>
      <%= link_to 'Create A New Job', "/jobs/new?company_id=#{@company.id}", class: "btn btn-default" %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'Save company to favorites', "#", remote: true, 'data-id': @company.id, class: "btn btn-default like_button #{'hide' if current_user.favorite_companies.find_by(id: @company.id)}" %>
      <%= link_to 'Unfollow this Company', "#", remote: true, 'data-id': @company.id, class: "btn btn-default unlike_button #{'hide' unless current_user.favorite_companies.find_by(id: @company.id)}" %>
    <% end %>

    <h4><%= pluralize(@company.jobs.published.unexpired.count, 'available vacancy') %></h4>
    <p><strong>Tagline: </strong><%= @company.tagline %></p>
    <p><strong>Employee Numbers: </strong><%= @company.employee_range.range if @company.employee_range.present? %></p>
    <p><strong>Industry: </strong><%= @company.industry.name if @company.industry.present? %></p>
    <p><strong>Address: </strong><%= @company.address1 %> <%= @company.address2 %></p>
    <p><strong>Country: </strong><%= @company.country.name %></p>
    <p><strong>State: </strong><%= @company.location.name if @company.location.present? %></p>
    <p><strong>Phone: </strong><%= @company.phone %></p>
    <p><strong>Email: </strong><%= @company.email %></p>
    <p><strong>About Us: </strong><%= raw @company.about %></p>
    <p><strong>Our History: </strong><%= raw @company.story %></p>
    <p><strong>Why are we awesome? </strong><%= raw @company.welfare %></p>
    <p><strong>Who we are looking for? </strong><%= raw @company.demand %></p>
    <p><strong>Idea: </strong><%= raw @company.idea %></p>
    <p><strong>Our Site: </strong><%= link_to @company.website %></p>
    <p><strong>Our Facebook: </strong><%= link_to @company.facebook %></p>
    <p><strong>Our Twitter: </strong><%= link_to @company.twitter %></p>
    <p><strong>ios: </strong><%= link_to @company.ios %></p>
    <p><strong>android: </strong><%= link_to @company.android %></p>
    <p><strong>Total Views: </strong><%= @company.impression_count %></p>

    <% if current_user %>
      <% if current_user.has_company? %>
        <% if current_user.company == @company %>
          <ul class="nav nav-tabs">
            <li role="presentation" class="active">
              <%= link_to "#my_jobs", class: "btn btn-default", "data-toggle" => "tab" do %>
                My Jobs 
                <span class="badge"><%= company_unread_cover_letter_count(@company) if company_unread_cover_letter_count(@company) %></span>
              <% end %>
            </li>
            <li role="presentation"><%= link_to "Saved CV", "#saved_cv", class: "btn btn-default", "data-toggle" => "tab" %></li>
            <li role="presentation"><%= link_to "Account Status", "#status", class: "btn btn-default", "data-toggle" => "tab" %></li>
            <li role="presentation"><%= link_to "Company Profile", "#settings", class: "btn btn-default", "data-toggle" => "tab" %></li>
          </ul>

          <br>

          <div class="tab-content">
            <div id="my_jobs" class="tab-pane fade in active">
              <%= render 'job_listing' %>
            </div>

            <div id="saved_cv" class="tab-pane fade">
              <h3>Saved Resume</h3>
              <table class="table">
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Location</th>
                  <th>Age</th>
                  <th>Employment Status</th>
                  <th></th>
                  <th></th>
                </tr>
                <% @company.favorite_resumes.each do |favorite_resume| %>
                  <tr>
                    <td><%= image_tag favorite_resume.cover.url(style: :mediuem), size: '115x50' %></td>
                    <td><%= favorite_resume.firstname + " " + favorite_resume.lastname %></td>
                    <td><%= favorite_resume.phone %></td>
                    <td><%= favorite_resume.location.name %></td>
                    <td><%= calculate_age(favorite_resume.birth) %></td>
                    <td><%= favorite_resume.employment_status.name %></td>
                    <td><%= link_to 'Delete', "#", remote: true, 'data-id': favorite_resume.id, class: "unlike_button" %></td>
                    <td><%= link_to 'View', resume_path(favorite_resume) %></td>
                  </tr>
                <% end %>
              </table>
              <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
            </div>

            <div id="status" class="tab-pane fade">
              <h3>Account Status</h3>
              <%= render 'layouts/pricing_table' %>
            </div>

            <div id="settings" class="tab-pane fade">
              <h3>Account Settings</h3>
              <%= render 'form' %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div id="map" style="margin: 20px 0;"></div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9EdOPfGfgc4jz6fUq6Yfn3tQRrtcHHzo" async defer></script>

<script>
  $('.unlike_button').click(function(){
    var current = $(this)
    $.getJSON('/resumes/unfollow_resume?id=' + $(this).data('id'), function(data){
      if(data){
        current.parent().parent().remove();
      }
      else{
        alert('Failed to delete this resume, sorry!')
      }
    })
  });

  $(document).ready(function(){
    $(".nav-tabs a").click(function(){
      $(this).tab('show');
    });

    $('.like_button').click(function(){
      $.getJSON('/companies/save_to_favorites?id=' + $(this).data('id'), function(data){
        if(data){
          alert('You are currently following this company!')
          $('.like_button').addClass('hide')
          $('.unlike_button').removeClass('hide')
        }
        else{
          alert('Failed to add this company to your favorites, sorry!')
        }
      })
    });

    $('.unlike_button').click(function(){
      $.getJSON('/companies/unlike?id=' + $(this).data('id'), function(data){
        if(data){
          alert('You have successfully unfollowed this company!')
          $('.like_button').removeClass('hide')
          $('.unlike_button').addClass('hide')
        }
        else{
          alert('Failed to unfollow this company, sorry!')
        }
      })
    });

    google.maps.event.addDomListener(window, 'load', initialise);

    function initialise() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: {lat: 18.8536873, lng: 87.6373729}
      });
      var geocoder = new google.maps.Geocoder();

      window.geocodeAddress(geocoder, map);
    }

    window.address = '<%= @company.address1 if @company.address1.present? %>' +
                     ', <%= @company.address2 if @company.address2.present? %>' +
                     ', <%= @company.location.name if @company.location.present? %>' +
                     ', <%= @company.country.name if @company.country.present? %>';

    // window.address = "Kabaaye Pagoda 150, Yangon, Myanmar ";

    window.geocodeAddress = function(geocoder, resultsMap) {
      geocoder.geocode({'address': window.address}, function(results, status) {
        if (status === 'OK') {
          resultsMap.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: resultsMap,
            position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
  });
</script>
