
<%= image_tag @company.cover.url(:preview),
            class: "img-rounded text-center",
            size: '230x100' %>

<%= image_tag @company.image.url(:thumb),
            class: "img-rounded text-center",
            size: '100x100' %>

<h2>Company Name: <%= @company.name %></h2>
<p>Tagline: <%= @company.tagline %></p>
<p>Employee Numbers: <%= @company.employee_range.range %></p>
<p>Industry: <%= @company.industry.name if @company.industry.present? %></p>
<p>Country: <%= @company.country.name %></p>
<p>State: <%= @company.location.name if @company.location.present? %></p>
<p>Phone: <%= @company.phone %></p>
<p>Email: <%= @company.email %></p>
<p>About Us: <%= @company.about %></p>
<p>Our History: <%= @company.story %></p>
<p>Why are we awesome? <%= @company.welfare %></p>
<p>Who we are looking for? <%= @company.demand %></p>
<p>Idea: <%= @company.idea %></p>
<p>Our Site: <%= link_to @company.website %></p>
<p>Our Facebook: <%= link_to @company.facebook %></p>
<p>Our Twitter: <%= link_to @company.twitter %></p>
<p>ios: <%= link_to @company.ios %></p>
<p>android: <%= link_to @company.android %></p>
<p>Total Views: <%= @company.impression_count %></p>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to "My Jobs", "#my_jobs", class: "btn btn-default", "data-toggle" => "tab" %></li>
  <li role="presentation"><%= link_to "Saved CV", "#saved_cv", class: "btn btn-default", "data-toggle" => "tab" %></li>
  <li role="presentation"><%= link_to "Account Status", "#status", class: "btn btn-default", "data-toggle" => "tab" %></li>
  <li role="presentation"><%= link_to "Account Settings", "#settings", class: "btn btn-default", "data-toggle" => "tab" %></li>
</ul>

<br>

<div class="tab-content">
  <div id="my_jobs" class="tab-pane fade in active">
    <p>Current Opportunity <%= @company.jobs_count %>: </p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Position</th>
          <th>Type</th>
          <th>Salary</th>
          <th>Country</th>
          <th>City</th>
          <th>Starting Date</th>
          <th>Application</th>
        </tr>
      </thead>
      <tbody>
      <% @company.jobs.each do |job| %>
        <tr>
          <td><%= link_to job.title, job %></td>
          <td><%= job.contract_type.name %></td>
          <td><%= job.salary_range.range %></td>
          <td><%= job.country.name %></td>
          <td><%= if job.location.present?; job.location.name else "Not in Myanmar" end %></td>
          <td><%= job.start_day %></td>
          <td><%= link_to "Job", edit_job_path(job) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div id="saved_cv" class="tab-pane fade">
    <h3>Saved CV</h3>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div id="status" class="tab-pane fade">
    <h3>Account Status</h3>
    <%= render 'layouts/pricing_table' %>

  <div id="settings" class="tab-pane fade">
    <h3>Account Settings</h3>
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Edit Company Information', edit_company_path(@company) %> |
<%= link_to 'Create a new job', "/jobs/new?company_id=#{@company.id}" %>

<script>
  $(document).ready(function(){
    $(".nav-tabs a").click(function(){
      $(this).tab('show');
    });
  });
</script>
