
<%= image_tag @company.cover.url(:preview),
            class: "img-rounded text-center",
            size: '230x100' %>

<%= image_tag @company.image.url(:thumb),
            class: "img-rounded text-center",
            size: '100x100' %>
<br>
<br />

<%= link_to 'Edit Company Information', edit_company_path(@company), class: "btn btn-default" %>
<%= link_to 'Create A New Job', "/jobs/new?company_id=#{@company.id}", class: "btn btn-default" %>
<%= link_to 'Save company to favorites', "#", remote: true, 'data-id': @company.id, class: "btn btn-default like_button" %>

<h2><strong>Company Name: </strong><%= @company.name %></h2>
<p><strong>Tagline: </strong><%= @company.tagline %></p>
<p><strong>Employee Numbers: </strong><%= @company.employee_range.range %></p>
<p><strong>Industry: </strong><%= @company.industry.name if @company.industry.present? %></p>
<p><strong>Address: </strong><%= @company.address1 %> <%= @company.address2 %></p>
<p><strong>Country: </strong><%= @company.country.name %></p>
<p><strong>State: </strong><%= @company.location.name if @company.location.present? %></p>
<p><strong>Phone: </strong><%= @company.phone %></p>
<p><strong>Email: </strong><%= @company.email %></p>
<p><strong>About Us: </strong><%= @company.about %></p>
<p><strong>Our History: </strong><%= @company.story %></p>
<p><strong>Why are we awesome? </strong><%= @company.welfare %></p>
<p><strong>Who we are looking for? </strong><%= @company.demand %></p>
<p><strong>Idea: </strong><%= @company.idea %></p>
<p><strong>Our Site: </strong><%= link_to @company.website %></p>
<p><strong>Our Facebook: </strong><%= link_to @company.facebook %></p>
<p><strong>Our Twitter: </strong><%= link_to @company.twitter %></p>
<p><strong>ios: </strong><%= link_to @company.ios %></p>
<p><strong>android: </strong><%= link_to @company.android %></p>
<p><strong>Total Views: </strong><%= @company.impression_count %></p>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to "My Jobs", "#my_jobs", class: "btn btn-default", "data-toggle" => "tab" %></li>
  <li role="presentation"><%= link_to "Saved CV", "#saved_cv", class: "btn btn-default", "data-toggle" => "tab" %></li>
  <li role="presentation"><%= link_to "Account Status", "#status", class: "btn btn-default", "data-toggle" => "tab" %></li>
  <li role="presentation"><%= link_to "Company Profile", "#settings", class: "btn btn-default", "data-toggle" => "tab" %></li>
</ul>

<br>

<div class="tab-content">
  <div id="my_jobs" class="tab-pane fade in active">
    <p>Current Opportunity <%= @company.jobs_count %>: </p>
    <%= render 'job_listing' %>
  </div>
  <div id="saved_cv" class="tab-pane fade">
    <h3>Saved CV</h3>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div id="status" class="tab-pane fade">
    <h3>Account Status</h3>
    <%= render 'layouts/pricing_table' %>
  </div>
  <div id="settings" class="tab-pane fade">
    <h3>Account Settings</h3>
    <%= render 'form' %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".nav-tabs a").click(function(){
      $(this).tab('show');
    });

    $('.like_button').click(function(){
      $.getJSON('/companies/save_to_favorites?id=' + $(this).data('id'), function(data){
        console.log(data)
      })
    })
  });
</script>
