
<%= image_tag @company.cover.url(:preview),
            class: "img-rounded text-center",
            size: '230x100' %>

<%= image_tag @company.image.url(:thumb),
            class: "img-rounded text-center",
            size: '100x100' %>

<h2><%= @company.name %></h2>
<p><%= @company.tagline %></p>
<p><%= @company.phone %></p>
<p><%= @company.email %></p>
<p><%= @company.about %></p>
<p><%= @company.story %></p>
<p><%= @company.welfare %></p>
<p><%= @company.demand %></p>
<p><%= @company.idea %></p>
<p><%= @company.website %></p>
<p><%= @company.facebook %></p>
<p><%= @company.twitter %></p>
<p><%= @company.ios %></p>
<p><%= @company.android %></p>
<p><%= @company.impression_count %></p>



<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %> |
<%= link_to 'Home', root_path %>
