<h2>New Resume</h2>

<%= form_for @resume do |f| %>
  <%= f.text_field :firstname %>
  <%= f.text_field :lastname %>
  <%= f.text_field :phone %>
  <%= f.text_field :location_id %>
  <%= f.submit :submit %>
<% end %>
